<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<br>
<form th:action="@{/admin/edit/{id}(id=${user.user_id})}" th:object="${user}" th:method="patch">

    First name<input type="text" th:field="*{username}"/>
    <br><br>
    Last name<input type="text" th:field="*{lastname}"/>
    <br><br>
    Age <input type="text" th:field="*{age}"/>
    <br><br>
    Enter password <input type="email" th:field="*{email}"/>
    <br><br>
    Enter email <input type="password" th:field="*{password}"/>
    <br><br>
    <p>
        Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:checked="${user.roles.contains(role)}"
               th:field="*{roles}"
        />
    </p>

    <input type="submit" value="Update">
</form>
<br><br>
<a th:href="@{/logout}"><input type="button" value="Logout"></a>
</body>
</html>
