<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<style>
</style>

</head>

<body>

<!--Modal window for edit-->
<th:block th:each="user : ${allUsers}">
    <div class="modal fade" th:id="${'EditUser'+ user.user_id}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="${'EditUserTitle'+ user.user_id}">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <form th:action="@{/admin/edit/{id}(id=${user.user_id})}" th:object="${user}" th:method="patch">
                        <div class="form-group">
                            <label th:for="${'user_id'+user.user_id}" class="col-form-label">ID</label>
                            <input class="form-control" type="number" th:id="${'user_id'+user.user_id}"
                                   th:value="${user.user_id}"
                                   readonly>
                        </div>

                        <div class="form-group">
                            <label th:for="${'first name'+user.firstname}" class="col-form-label">First name</label>
                            <input class="form-control" type="text" th:id="${'first name'+user.firstname}"
                                   th:value="${user.firstname}" th:name="firstname">
                        </div>

                        <div class="form-group">
                            <label th:for="${'last name'+user.lastname}" class="col-form-label">Last name</label>
                            <input class="form-control" type="text" th:id="${'first name'+user.lastname}"
                                   th:value="${user.lastname}" th:name="lastname">
                        </div>

                        <div class="form-group">
                            <label th:for="${'age'+user.age}" class="col-form-label">Age</label>
                            <input class="form-control" type="number" th:id="${'first name'+user.age}"
                                   th:value="${user.age}" th:name="age">
                        </div>

                        <div class="form-group">
                            <label th:for="${'email'+user.email}" class="col-form-label">Email</label>
                            <input class="form-control" type="email" th:id="${'first name'+user.email}"
                                   th:value="${user.email}" th:name="email">
                        </div>

                        <div class="form-group">
                            <label th:for="${'password'+user.password}" class="col-form-label">Password</label>
                            <input class="form-control" type="password" th:id="${'password'+user.password}"
                                   value="" th:name="password">
                        </div>

                        <label th:for="${'roles' + user.user_id}" class="container-fluid col-6">Role</label>
                        <div class="form-group">
                            <select class="custom-select" name="roles" multiple required>
                                <th:block th:each="role : ${allRoles}">
                                    <option th:value="${role.id}" th:text="${role.name.replaceAll('ROLE_', '')}"
                                            th:selected="${user.roles.contains(role)}"></option>
                                </th:block>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<!--End of modal window for edit-->

<!--Modal window for delete-->
<th:block th:each="user : ${allUsers}">
    <div class="modal fade" th:id="${'DeleteUser'+ user.user_id}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:id="${'DeleteUserTitle'+ user.user_id}">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <form th:action="@{/admin/{id}(id=${user.user_id})}" th:object="${user}" th:method="delete">
                        <div class="form-group">
                            <label th:for="${'user_id'+user.user_id}" class="col-form-label">ID</label>
                            <input class="form-control" type="number" th:id="${'user_id'+user.user_id}"
                                   th:value="${user.user_id}"
                                   readonly>
                        </div>

                        <div class="form-group">
                            <label th:for="${'first name'+user.firstname}" class="col-form-label">First name</label>
                            <input class="form-control" type="text" th:id="${'first name'+user.firstname}"
                                   th:value="${user.firstname}" th:name="firstname" readonly>
                        </div>

                        <div class="form-group">
                            <label th:for="${'last name'+user.lastname}" class="col-form-label">Last name</label>
                            <input class="form-control" type="text" th:id="${'first name'+user.lastname}"
                                   th:value="${user.lastname}" th:name="lastname" readonly>
                        </div>

                        <div class="form-group">
                            <label th:for="${'age'+user.age}" class="col-form-label">Age</label>
                            <input class="form-control" type="number" th:id="${'first name'+user.age}"
                                   th:value="${user.age}" th:name="age" readonly>
                        </div>

                        <div class="form-group">
                            <label th:for="${'email'+user.email}" class="col-form-label">Email</label>
                            <input class="form-control" type="email" th:id="${'first name'+user.email}"
                                   th:value="${user.email}" th:name="email" readonly>
                        </div>


                        <label th:for="${'roles' + user.user_id}" class="col-form-label">Role</label>
                        <div class="form-group">
                            <select class="custom-select" name="roles" multiple disabled>
                                <th:block th:each="role : ${allRoles}">
                                    <option th:value="${role.id}" th:text="${role.name.replaceAll('ROLE_', '')}"
                                            th:selected="${user.roles.contains(role)}"></option>
                                </th:block>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<!--End of modal window for delete-->

<!--Nav bar HEAD-->
<nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg">
    <p class="navbar-brand text-white">
        <b><span class="align-middle" th:text="${user.email}"></span></b>
        <span class="align-middle">with roles:</span>
        <span class="align-middle" th:each="role: ${user.roles}" th:text="${role.name.replaceAll('ROLE_',' ')}"></span>
    </p>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="text-align: right;">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!--Nav bar HEAD-->

<!--Tab new user-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">New user</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <!--Admin table-->
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>

                <th></th>
                <th></th>
            </tr>
            <th:block th:each="user : ${allUsers}">
                <tr>
                    <td th:text="${user.getUser_id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.lastname}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <th:block th:each="role : ${user.roles}">
                            <span th:text="${role.name.replaceAll('ROLE_', '')}"></span>
                        </th:block>
                    </td>

                    <td>
                        <button type="button" class="btn btn-info"
                                data-toggle="modal" th:data-target="${'#EditUser'+ user.user_id}" data-user="${user}">
                            Edit
                        </button>
                    </td>
                    <!--           -->
                    <td>
                        <button type="button" class="btn btn-danger"
                                data-toggle="modal" th:data-target="${'#DeleteUser'+ user.user_id}" data-user="${user}">
                            Delete
                        </button>
                        </a>
                    </td>

                </tr>
            </th:block>
        </table>

        <!--End admin table--></div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
</div>
<!--Tab new user-->


<br>
<input type="button" value="Add" onclick="window.location.href='/admin/addnewuser'"/>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>


